@import '../../media/colors.module';

.header {
	background-color: $color-3;

	.logoLink {
		height: 60px;

		img {
			height: inherit;
		}
	}

	.link {
		color: $color-grey;

		a {
			color: $color-grey;
			text-decoration: none;
		}
	}

	.therapyWrapper {
		color: $color-grey;
	}

	.linkWrapper {
		text-decoration: none;
		color: $color-grey;
	}
}

.drawer {
	background-color: $color-2-half;

	h6 {
		color: $color-white;
	}

	.linkListDrawer {
		a {
			text-decoration: none;
			color: $color-white;
			font-size: 24px;
		}
	}
}