@import './media/colors.module';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');* {
  font-family: "Ubuntu Sans Mono", monospace!important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
