$color-3: #f6f0dc;
$color-5: #c8e5a7;
$color-1: #80e285;
$color-4: #37b388;
$color-2: #00876a;
$color-2-half: #00876ac9;
$color-grey: #010101;
$color-white: #f6f6f6;

:export {
	colorWhite: $color-white;
	colorGrey: $color-grey;
	color2Half: $color-2-half;
	color1: $color-1;
	color2: $color-2;
	color3: $color-3;
	color4: $color-4;
	color5: $color-5;
  }